<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="ExcelDataReader" version="3.4.2" targetFramework="net461" />
  <package id="ExcelDataReader.DataSet" version="3.4.2" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" />
  <package id="OpenTK" version="3.0.1" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net461" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net461" />
  <package id="OxyPlot.Wpf" version="1.0.0" targetFramework="net461" />
  <package id="PropertyTools.Wpf" version="3.0.0-unstable0141" targetFramework="net461" />
</packages>